<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>[APPLICATION ZOMBIE DETECTED]</title>
</head>

<body>
    <div class="container">
        <p>Hello Quarkus user, an application zombie was detected!</p>
        <p>The business score <strong>[{status.score}]</strong> does not reach the zombie threshold
            <strong>[{status.threshold}]</strong> in the time window <strong>[{status.timeWindow}]</strong>.</p>
        <hr>
        <p>This message was generated automatically at {timestamp}.</p>
    </div>
</body>

</html>